# Live Recording
## 18 Feb, 2023
### Sir Nasir Hussain
#### Book = Learning pandas - Michael Heydt (Chapter = 10)


Applied in Predictive Analysis
Sales, weather, stock predictions etc...

RNNs is data ko handle krtay hain. see quarter lectures

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#    module          class

# module k andar classes and functions hotay hain

# Q1 k lecs sirf sun lena OOP par, sir nasir ya kisi or k ta k nomenclature oor clear ho gya

In [11]:
# datetime object for Dec 15 2014
date = datetime(2014, 12, 15)
# constructor ko date pass ki.

# date ka object ban gya
date

datetime.datetime(2014, 12, 15, 0, 0)

In [12]:
date

datetime.datetime(2014, 12, 15, 0, 0)

In [13]:
date_with_hour_minutes = datetime(2014, 12, 15, 17, 30)

In [14]:
date_with_hour_minutes

datetime.datetime(2014, 12, 15, 17, 30)

In [15]:
class dt:
    
    def __init__(self, y, m , d, h , mm):
        self. year   = y
        self.month   = m
        self.day     = d
        self.hour    = h
        self. minute = mm

In [16]:
dd = dt(2015,12,31,12,50)

In [17]:
dd.year

2015

In [18]:
dd.minute

50

In [19]:
date_today = datetime.now()

In [20]:
date_today

datetime.datetime(2023, 9, 7, 14, 48, 39, 252182)

# Pandas TimeStamp Object
Specific dates and times in pandas are represented using the pandas.tslib.
Timestamp class. Timestamp is based on the datetime64 dtype and has higher 
precision than the Python datetime object. Timestamp objects are generally 
interchangeable with datetime objects, so you can typically use them wherever 
you may use datetime objects.

In [10]:
birth   = pd.Timestamp('1997-09-15')

current = pd.Timestamp('2023-09-15')

(current - birth)/365

# years

Timedelta('26 days 00:23:40')

In [21]:
# You can create a Timestamp object using pd.Timestamp (a shortcut for pandas.
# tslib.Timestamp) and by passing a string representing a date, time, or date 
# and time:

pandas_date = pd.Timestamp('2014-12-15')

# yahan simple string day rahay hain

In [52]:
pandas_date

Timestamp('2014-12-15 00:00:00')

In [56]:
# Adds time time to datenow

pandas_time = pd.Timestamp('17:30')
# ':' differentiates date VS time

In [57]:
pandas_time
# date-now automatic

Timestamp('2023-02-19 17:30:00')

In [59]:
pandas_current_date_time  = pd.Timestamp("now")

In [60]:
pandas_current_date_time

Timestamp('2023-02-19 15:38:32.892506')

In [61]:
pd.Timestamp.now()

Timestamp('2023-02-19 15:39:36.346641')

# Time Delta to create difference in two timestamps

### pd.Timedelta()
- aik time duration is k zariye say create kr sktay hain
- can be +ive as well as -ive 

A difference between two pandas Timestamp objects is represented by a timedelta
object, which is a representation of an exact difference in time. These are common as 
results of determining the duration between two dates or to calculate the date at a 
specific interval of time from another date and/or time.

To demonstrate, the following uses a timedelta object to calculate a one-day 
increase in the time from the specified date:

In [3]:
today = datetime(2014, 11, 30)

tomorrow = today + pd.Timedelta(days=1)
tomorrow

# current date main aik din extra add kar dia

datetime.datetime(2014, 12, 1, 0, 0)

In [64]:
today = datetime(2014, 12, 31)

tomorrow = today + pd.Timedelta(days=1)
tomorrow

# current date main aik din extra add kar dia

datetime.datetime(2015, 1, 1, 0, 0)

In [75]:
date1 = datetime(2014, 12, 10)

date2 = datetime(2014, 11, 28)

date1 - date2

# vao 2 objects ko minus kia hay, sir nasir k Q1 k lectures mn oop main objects ka difference
# etc smjhaya hay

datetime.timedelta(days=12)

In [66]:
date2 - date1

# ab difference -4 days ka aaya

datetime.timedelta(days=-4)

In [73]:
days_7 = pd.Timedelta(weeks=1)

# time duration negative bhi ho skti hay

In [74]:
date1 + days_7

datetime.datetime(2014, 12, 9, 0, 0)

In [77]:
date1 - days_7

datetime.datetime(2014, 12, 3, 0, 0)

In [78]:
days_7 = pd.Timedelta(weeks=-1)

In [80]:
date1 - days_7

datetime.datetime(2014, 12, 17, 0, 0)

In [ ]:
# note:

# Introducing time-series data
Due to its roots in finance, pandas excels in manipulating time-series data. Its 
abilities have been continuously refined over all of its versions to progressively 
increase its capabilities for time-series manipulation. These capabilities are the 
core of pandas and do not require additional libraries, unlike R, which requires 
the inclusion of Zoo to provide this functionality.

The core of the time-series functionality in pandas revolves around the use of 
specialized indexes that represent measurements of data at one or more timestamps. 
These indexes in pandas are referred to as DatetimeIndex objects. These are incredibly 
powerful objects, and their being core to pandas provides the ability to automatically 
align data based on dates and time, making working with sequences of data collected 
and time-stamped as easy as with any other type of indexes.

We will now examine **how to create time-series data and DatetimeIndex objects 
both using explicit timestamp objects and using specific durations of time (referred 
to in pandas as frequencies).**

# DatetimeIndex
Sequences of timestamp objects are represented by pandas as DatetimeIndex,
which is a type of pandas index that is optimized for indexing by date and time.
There are several ways to create DatetimeIndex objects in pandas. The following
creates a DateTimeindex by passing a list of datetime objects as Series:

In [6]:
# create a very simple time-series with two index labels
 # and random values

dates = [datetime(2014, 8, 1), datetime(2014, 8, 2)]

In [7]:
ts = pd.Series(np.random.randn(2), dates)
ts

2014-08-01   -0.080606
2014-08-02    0.293301
dtype: float64

In [9]:
ts.index
# note is dfa, index jo hay vo aik date-time index hay

DatetimeIndex(['2014-08-01', '2014-08-02'], dtype='datetime64[ns]', freq=None)

In [10]:
ts.values

array([-0.08060574,  0.29330098])

In [14]:
# yahan par ab index ki type date/time index nahi hogi, this was old way
S = pd.Series([1,2,3,4],index=[22,33,44,55])

In [15]:
S.values

array([1, 2, 3, 4], dtype=int64)

In [17]:
S.index

# daikha ye simple index hay

Index([22, 33, 44, 55], dtype='int64')

In [19]:
S = pd.Series([1,2,3,4])

S.index
# ye daikho, ye simply rangeindex hay

RangeIndex(start=0, stop=4, step=1)

In [35]:
#convert a sequence of objects to a DatetimeIndex

dti = pd.to_datetime(['Aug 1, 2014', '2014-08-02', '2014.8.3', None], format='mixed')
# format='mixed': agar ye na likh tu error aaye ga
dti


# note ye aik list thi, so os nay "DatetimeIndex" return kia hay

DatetimeIndex(['2014-08-01', '2014-08-02', '2014-08-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [41]:
pd.to_datetime(['Aug 1, 2014'])

# sirf aik value hay list main
# note ye aik list thi, so os nay "DatetimeIndex" return kia hay

DatetimeIndex(['2014-08-01'], dtype='datetime64[ns]', freq=None)

In [40]:
pd.to_datetime('Aug 1, 2014')
# is bar list pass ni ki tu TimeStamp bni simple

Timestamp('2014-08-01 00:00:00')

In [42]:
for l in dti: 
    print (l)

2014-08-01 00:00:00
2014-08-02 00:00:00
2014-08-03 00:00:00
NaT

In [46]:
# error expected in new pandas version
pd.to_datetime(['Aug 1, 2014', None, 'foo'])

ValueError: time data "foo" doesn't match format "%b %d, %Y", at position 2. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [47]:
pd.to_datetime(['Aug 1, 2014', None])
# isay baad main further explore krain gay - sir nasir

DatetimeIndex(['2014-08-01', 'NaT'], dtype='datetime64[ns]', freq=None)

# Date Range

In [55]:
periods = pd.date_range('8/1/2014', periods=10)
# is ka output?
# see next cell indices
# by default freq = "D", so 10 days generate hoon gay, starting from the day passed

In [56]:
np.random.seed(123456)

date_series = pd.Series(np.random.randn(10), index=periods)
date_series
# so, is nay 10 days create kiye thay

2014-08-01    0.469112
2014-08-02   -0.282863
2014-08-03   -1.509059
2014-08-04   -1.135632
2014-08-05    1.212112
2014-08-06   -0.173215
2014-08-07    0.119209
2014-08-08   -1.044236
2014-08-09   -0.861849
2014-08-10   -2.104569
Freq: D, dtype: float64

In [57]:
periods = pd.date_range('8/1/2014', periods=10, freq="W") # week
np.random.seed(123456)
date_series = pd.Series(np.random.randn(10), index=periods)
date_series

2014-08-03    0.469112
2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
2014-09-28   -0.861849
2014-10-05   -2.104569
Freq: W-SUN, dtype: float64

In [58]:
subset = date_series[3:7]
subset

2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
Freq: W-SUN, dtype: float64

In [59]:
s2 = pd.Series([10, 100, 1000, 10000], index=subset.index)
s2

2014-08-24       10
2014-08-31      100
2014-09-07     1000
2014-09-14    10000
Freq: W-SUN, dtype: int64

In [60]:
date_series + s2

2014-08-03             NaN
2014-08-10             NaN
2014-08-17             NaN
2014-08-24        8.864368
2014-08-31      101.212112
2014-09-07      999.826785
2014-09-14    10000.119209
2014-09-21             NaN
2014-09-28             NaN
2014-10-05             NaN
Freq: W-SUN, dtype: float64

In [117]:
date_series['2014-08-10': '2014-09-25']

2014-08-10   -0.282863
2014-08-17   -1.509059
2014-08-24   -1.135632
2014-08-31    1.212112
2014-09-07   -0.173215
2014-09-14    0.119209
2014-09-21   -1.044236
Freq: W-SUN, dtype: float64

In [61]:
s3 = pd.Series(np.random.randn(730)*10, pd.date_range('2013-01-01', '2014-12-31'))
s3

# start-date and end-date di bas
# by defaulr freq = day

2013-01-01    -4.949293
2013-01-02    10.718038
2013-01-03     7.215552
2013-01-04    -7.067711
2013-01-05   -10.395750
                ...
2014-12-27    -2.739551
2014-12-28    -7.723693
2014-12-29   -12.428066
2014-12-30    -3.863363
2014-12-31    -1.824856
Freq: D, Length: 730, dtype: float64

In [62]:
s3['2014-05']

2014-05-01    -7.302549
2014-05-02    -3.392505
2014-05-03    16.087001
2014-05-04    -6.856717
2014-05-05     6.936703
2014-05-06    17.778371
2014-05-07     9.424523
2014-05-08     1.318035
2014-05-09    19.633491
2014-05-10     5.683759
2014-05-11     2.259349
2014-05-12     3.679318
2014-05-13    -4.637516
2014-05-14    -0.552893
2014-05-15    -3.608528
2014-05-16     7.281973
2014-05-17    13.267680
2014-05-18     2.089269
2014-05-19     2.920581
2014-05-20   -20.196103
2014-05-21    -0.217630
2014-05-22    -0.471522
2014-05-23     0.884721
2014-05-24    -8.574355
2014-05-25   -25.037857
2014-05-26   -10.580412
2014-05-27    -6.579812
2014-05-28    24.615912
2014-05-29     1.514118
2014-05-30   -20.385679
2014-05-31     1.429598
Freq: D, dtype: float64

In [124]:
s3['2014-08':'2014-09']

2014-08-01     8.745707
2014-08-02    -1.122823
2014-08-03   -11.887646
2014-08-04   -26.213766
2014-08-05    -4.416824
                ...
2014-09-26    -3.406652
2014-09-27    -6.597429
2014-09-28     6.654400
2014-09-29     6.060540
2014-09-30   -16.632087
Freq: D, Length: 61, dtype: float64

# Creating time-series data with specific frequencies

Time-series data in pandas can be created on intervals other than daily frequency. 
Different frequencies can be generated with pd.date_range() by utilizing the freq
parameter. This parameter defaults to a value of 'D', which represents daily frequency.


To demonstrate alternative frequencies, the following creates a DatetimeIndex with 
1-minute intervals between the two specified dates by specifying freq='T':

In [63]:
np.random.seed(123456)

bymin = pd.Series(np.random.randn(129600),pd.date_range('2014-08-01','2014-10-29 23:59', freq='T'))
# T: 1 minute

In [64]:
bymin

2014-08-01 00:00:00    0.469112
2014-08-01 00:01:00   -0.282863
2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
                         ...
2014-10-29 23:55:00   -0.563029
2014-10-29 23:56:00    1.180497
2014-10-29 23:57:00    1.850604
2014-10-29 23:58:00   -1.589660
2014-10-29 23:59:00    0.266429
Freq: T, Length: 129600, dtype: float64

In [65]:
90*24*60

129600

In [66]:
bymin['2014-08-01 00:02':'2014-08-01 00:10']

# 2 min - 10 min tak ka slice nikala

2014-08-01 00:02:00   -1.509059
2014-08-01 00:03:00   -1.135632
2014-08-01 00:04:00    1.212112
2014-08-01 00:05:00   -0.173215
2014-08-01 00:06:00    0.119209
2014-08-01 00:07:00   -1.044236
2014-08-01 00:08:00   -0.861849
2014-08-01 00:09:00   -2.104569
2014-08-01 00:10:00   -0.494929
Freq: T, dtype: float64

In [138]:
days = pd.date_range('2023-01-1', '2023-02-18', freq='B')
# B: buisness day frequency, non-buisness days is k andar create nahi hoon gay
# mumkin hay k is k andar public-holidays (14 august type) bhi non-buisness days mnain
# shumar htay hoon, so details daikh lena

for d in days : print (d)

# note 7 & 8 january ghaib hay cuz vo buisness days nahi hain, saturday sunday hain
# and so on

2023-01-02 00:00:00
2023-01-03 00:00:00
2023-01-04 00:00:00
2023-01-05 00:00:00
2023-01-06 00:00:00
2023-01-09 00:00:00
2023-01-10 00:00:00
2023-01-11 00:00:00
2023-01-12 00:00:00
2023-01-13 00:00:00
2023-01-16 00:00:00
2023-01-17 00:00:00
2023-01-18 00:00:00
2023-01-19 00:00:00
2023-01-20 00:00:00
2023-01-23 00:00:00
2023-01-24 00:00:00
2023-01-25 00:00:00
2023-01-26 00:00:00
2023-01-27 00:00:00
2023-01-30 00:00:00
2023-01-31 00:00:00
2023-02-01 00:00:00
2023-02-02 00:00:00
2023-02-03 00:00:00
2023-02-06 00:00:00
2023-02-07 00:00:00
2023-02-08 00:00:00
2023-02-09 00:00:00
2023-02-10 00:00:00
2023-02-13 00:00:00
2023-02-14 00:00:00
2023-02-15 00:00:00
2023-02-16 00:00:00
2023-02-17 00:00:00

In [139]:
# periods will use the frequency as the increment
pd.date_range('2014-08-01 12:10:01', freq='S', periods=10)
# start date and time dia
# S: seconds frequency di
# aik aik second ka increment hua

DatetimeIndex(['2014-08-01 12:10:01', '2014-08-01 12:10:02',
               '2014-08-01 12:10:03', '2014-08-01 12:10:04',
               '2014-08-01 12:10:05', '2014-08-01 12:10:06',
               '2014-08-01 12:10:07', '2014-08-01 12:10:08',
               '2014-08-01 12:10:09', '2014-08-01 12:10:10'],
              dtype='datetime64[ns]', freq='S')

In [67]:
# go to page = 358 for more frequencies and their details
# Learning Pandas book - Michael Hyedet

# Alias: Description
# B: Business day frequency
# C: Custom business day frequency
# D: Calendar day frequency (the default)
# W: Weekly frequency
# M: Month end frequency
# BM: Business month end frequency
# CBM: Custom business month end frequency
# MS: Month start frequency
# BMS: Business month start frequency
# CBMS: Custom business month start frequency
# Q: Quarter end frequency
# BQ: Business quarter frequency
# QS: Quarter start frequency
# BQS: Business quarter start frequency
# A: Year end frequency
# BA: Business year-end frequency
# AS: Year start frequency
# BAS: Business year start frequency
# H: Hourly frequency
# T: Minute-by-minute frequency
# S: Second-by-second frequency
# L: Milliseconds
# U: Microseconds

In [ ]:
# tmaam ki tmaam frequencies ko aik bar khud sy kisi aik datset
# pr zroor apply kr lena, is ka faida ye hta hay, k jab khud kia
# hua ho tu acha yaad rehta hay

# Calculating new dates using offsets

Buisness intelligence par kaam krnay k liye ye bhht important hay


pg = 360


## Date offsets

Class Description
DateOffset: Generic offset defaults to one calendar day
BDay Business day
CDay Custom business day
Week One week, optionally anchored on a day of the week
WeekOfMonth The x-th day of the y-th week of each month
LastWeekOfMonth The x-th day of the last week of each month
MonthEnd Calendar month end
MonthBegin Calendar month start
BMonthEnd Business month end
BMonthBegin Business month start
CBMonthEnd Custom business month end
CBMonthBegin Custom business month start
QuarterEnd Quarter end
QuarterBegin Quarter start
BQuarterEnd Business quarter end
BQuarterBegin Business quarter start
FYS253Quarter Retail (52-53 week) quarter
YearEnd Calendar year end
YearBegin Calendar year start
BYearEnd Business quarter end
BYearBegin Business quarter start
FYS253 Retail (52-53 week) year
Hour One hour
Minute One minute
Second One second
Milli One millisecond
Micro One microsecond

In [3]:
# get all business days between and inclusive of these two dates
dti = pd.date_range('2014-08-29', '2014-09-05', freq='B')
dti.values

array(['2014-08-29T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-03T00:00:00.000000000',
       '2014-09-04T00:00:00.000000000', '2014-09-05T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [4]:
dti.freq
# is nay full-form bta di k ye buisness day frequency hay.
# ye check kr lia kro, ho skta hay aap week ka end na daikho
# or aap ko lgay k ye ti day-swise freq hay, but asal mn ho vo bi-monthly ya weekly 
# frequency

pandas takes this strategy of using DateOffset and its specializations to codify 
logic to calculate the next datetime from another datetime. This makes using these 
objects very flexible as well as powerful. DateOffset objects can be used in various 
scenarios, including the following:

- They can be added/subtracted to/from a datetime object to obtain a 
shifted date

- They can be multiplied by an integer (positive or negative) so that the 
increment will be applied multiple times

- They have rollforward and rollback methods to move a date forward or 
backward to the next or previous "offset date"


DateOffset objects can be created by passing them a datetime object that represents 
a fixed duration of time or using a number of keyword arguments. Keyword 
arguments fall into two general categories. The first category is keywords that 
represent absolute dates: year, month, day, hour, minute, second, and microsecond. 
The second category represents relative durations and can be negative values: years, 
months, weeks, day, hours, minutes, seconds, and microseconds.

In [142]:
# calculate a one day offset from 2014-8-29
# The following creates a 1-day offset and adds it to datetime:

d = datetime(2014, 8, 29)


do = pd.DateOffset(days = 1)
d + do

# aik din offset ho gya

Timestamp('2014-08-30 00:00:00')

In [6]:
d = datetime(2014, 8, 25)


do = pd.DateOffset(n=3)
d + do

Timestamp('2014-08-28 00:00:00')

In [7]:
# The following calculates the next business day from a given date:

# import the data offset types
from pandas.tseries.offsets import *

# calculate one business day from 2014-8-31
d + BusinessDay()

Timestamp('2014-08-26 00:00:00')

In [8]:
# Multiple units of a specific DateOffset can be used using multiplication:

# determine 2 business days from 2014-8-29
d + 2 * BusinessDay()

Timestamp('2014-08-27 00:00:00')

In [150]:
d = datetime(2014, 8, 25)


do = pd.offsets.MonthEnd()
d + do

Timestamp('2014-08-31 00:00:00')

In [10]:
# The following demonstrates using a BMonthEnd object to calculate the last business 
# day of a month from a given date (in this case, 2014-09-02):

# what is the next business month end
# from a specific date?

d + BMonthEnd()

Timestamp('2014-08-29 00:00:00')

In [15]:
# Several of the offset classes can be parameterized to provide finer control of the offset 
# behavior. As an example, the following calculates the date of the Tuesday (weekday 
# = 1) in the week prior to 2014-08-31:

# calculate the date of the Tuesday previous
# to a specified date 

d - Week(weekday = 1)

# 0: to calculate date of monday

Timestamp('2014-08-19 00:00:00')

## Anchored offsets

is chapter ko aagay khud parhnay ka kaha hay, next lec ki vid main daikhtay hain, shyd khud hi parha bhi dia ho

In [ ]:
# march main power BI ki workshop, data-visualization bhi hogi os mn, certificate bhi milay ga
# current book ka current chapter or next visualization vla chapter khud say parhnay ka kaha hay
# current book: Learning pandas - Michael Heydt

# ye 2 books parhnay kaha hay
# StatisticsMachineLearningPythonDraft
# Matplotlib for Python Developers

# see Q2 sir nasir data - datsets and books

In [16]:
# Aqsa Moiz k paas tmaam assignments k solutions hain

In [17]:
# assignments zroor krna or jo practice datasets milay hoon on par bhi hath seedha zroor krna

# 25 Feb, 2023 Live Recording

In [ ]:
# assignemnts k muamlay aqsa k sath discuss krtay rahain. 
book -- notebook -- class work --

# Manipulating time-series data
We will now examine several common operations that are performed on time-series 
data. These operations entail realigning data, changing the frequency of the samples 
and their values, and calculating aggregate results on continuously moving subsets 
of the data to determine the behavior of the values in the data as time changes. We 
will examine each of the following:
- Shifting and lagging values to calculate percentage changes
- Changing the frequency of the data in the time series
- Up and down sampling of the intervals and values in the time series
- Performing rolling-window calculations

## Shifting and lagging
A common operation on time-series data is to shift the values backward and forward 
in time. The pandas method for this is .shift(), which will shift values in Series or 
DataFrame a specified number of units of the index's frequency.

To demonstrate shifting, we will use the following Series. This Series has five 
values, is indexed by date starting at 2014-08-01, and uses a daily frequency:

In [18]:
# ye vala topic aagay krain gay Time Series Analysis k sath